  </main>

  <footer class="footer" id="contacts">
    <h2 class="footer__title">Контакты</h2>
    <address class="footer__address">
      Электронная почта: <a class="link" href="mailto:hello@chitaika.example">hello@chitaika.example</a><br>
      Телефон: <a class="link" href="tel:+70000000000">+7 000 000-00-00</a>
    </address>
    <p class="footer__copy">
      © <time datetime="2026-01-01">2026</time> «Читайка». Все права защищены.
    </p>
    <div id="server-time" style="display: none;">{{serverProcessingTime}}</div>
  </footer>
</body>
